@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background: #091925; */
    background: #EEEEEE; 
}

.container {
    width: 690px;
    background: transparent;
    border-radius: 7px;
    padding: 30px;
    box-shadow:  17px 17px 34px #a7a7a7,
    -17px -17px 34px #ffffff;
    /* box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
                inset 0 -15px 15px rgba(255, 255, 255, 0.05),
                0 15px 15px rgba(0,0,0,0.3),
                inset 0 15px 15px rgba(0,0,0,0.3); */
}

.wrapper {
    border-radius: 5px;
    border: 1px solid #bbb;
}

.wrapper .text-input {
    display: flex;
    border-bottom: 1px solid #bbb;
}

.text-input .to-text {
    border-radius: 0;
    border-left: 1px solid #bbb;
}

.text-input textarea {
    height: 250px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    font-size: 20px;
    border-radius: 5px;
    background: none;
    padding: 10px 15px;
}

.controls, li, .icons, .icons i  {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls {
    list-style: none;
    padding: 12px 15px;
}

.controls .row.from .icons {
    padding-right: 15px;
    border-right: 1px solid #bbb;
}

.controls .row.to .icons {
    padding-left: 15px;
    border-left: 1px solid #bbb;
}

.controls .icons {
    width: 38%;
}

.controls .icons i {
    width: 50px;
    color: #9f9f9f;
    font-size: 14px;
    cursor: pointer;
    justify-content: center;

}

.controls .row select {
    border: none;
    outline: none;
    font-size: 18px;
    background: none;
}

.controls .exchange {
    color: #9f9f9f;
    font-size: 16px;
    cursor: pointer;
}

.container button {
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    border: none;
    outline: none;
    background: rgb(220, 20, 60);
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    /* box-shadow: inset 0.6rem 0.6rem 1.2rem #9f0e29, inset -0.6rem -0.6rem 1.2rem #ce4c64; */
}

.container button:hover {
    box-shadow: inset 8px 8px 16px #a10f2c,
    inset -8px -8px 16px #ff194c;
}